@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&display=swap');

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

:root {
    --brand-dark-blue: #1d2843;
    --brand-blue: #4c6ab4;
    --brand-red: #e63c4e;
    --brand-dark-red: #bc1622;
}

html ::-webkit-scrollbar {
    width: 5px;
  }
  
html ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--brand-blue);
}

html ::-webkit-scrollbar-track {
    background: #ededed;
}

html, a {
    font-family: "Hind Vadodara", sans-serif;
    text-decoration: none;
    color: var(--brand-dark-blue);
    overflow-x: hidden;
    width: 100vw;
    height: auto;
    scroll-behavior: smooth;
}

#top-bar, main {
    width: 1400px;
    max-width: 100vw;
    margin: 0;
    margin-left: -7px;
    overflow: hidden;
    background-color: white;
}

#top-bar {
    display: flex;
}

#top-bar #nav-bar, #top-bar svg {
    display: none;
}

#top-bar img {
    height: 60px;
    margin: auto;
}

#social table {
    position: absolute;
    border-collapse: collapse;
    border: none;
    transform: translate(-200px, -7px);
}

#social th, #social td {
    height: 40px;
    margin: 0;
}

#social td * {
    color: var(--brand-dark-blue);
    font-size: 1.2em;
}

#social #whatsapp-row {
    transform: translateY(10px);
    vertical-align: top;
}

#social img {
    height: 30px;
}

#social #insta-row {
    transform: translate(-20px, -10px);
    vertical-align: top;
}

#social #instagram-logo {
    transform: translate(-1px, -1px);
    height: 34px;
}

main {
    width: 1500px;
}

main {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
}

#apresentacao {
    font-size: 1.2em;
    line-height: 1em;
    text-align: center;
    margin-bottom: 100px;
}

#apresentacao p {
    max-width: 95%;
    margin: 40px auto 0 auto;
}


#especializations {
    text-align: center;
    line-height: 2em;
    margin: -50px auto 150px auto
}

#especializations h1 {
    font-size: 5vw;
    color: var(--brand-dark-blue);
    max-width: 95%;
    margin: -20px auto;
    text-align: center;
}

#especializations h2 {
    color: var(--brand-blue);
    font-size: 1.8em;
    font-weight: lighter;
}

#especializations img {
    width: 20%;
}

#nossos-servicos {
    margin-top: -100px;
    background-color: var(--brand-dark-blue);
    padding: 20px 0;
    color: white;
    background-image: url(../images/our-services-background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
}

#nossos-servicos > h1, #nossos-servicos > p {
    text-align: center;
    line-height: .4em;
    font-size: 1.3em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.411);
}

#nossos-servicos h1 {
    font-size: 1.8em;
    font-weight: lighter;
}

#nossos-servicos article {
    text-align: center;
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.411);
}

#nossos-servicos article div {
    margin: 0 40px;
    width: 100px;
}

#nossos-servicos img {
    filter: brightness(1000%);
}

.button-orcamento {
    text-align: center;
    margin: auto;
    height: 60px;
}

.button-orcamento span {
    vertical-align: middle;
    text-align: center;
}

.button-orcamento a {
    color: var(--brand-dark-blue);
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.473)
}

.button-orcamento a:hover {
    color: white;
    background-color: var(--brand-blue);
    box-shadow: 0 0 15px var(--brand-blue);
    transition-duration: .2s;
    padding: 15px;
    font-size: 1.5em;
}

#a-diamond h1 {
    font-size: 1.9em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.24);
    line-height: 1em;
    text-align: center;
    font-weight: lighter;
}

#a-diamond #quem-somos-nos {
    width: 950px;
    max-width: 90%;
    margin: auto;
    text-align: justify;
    font-size: 1em;
    padding-bottom: 50px;
}

.carrossel {
    overflow: hidden;
    width: 90%;
    margin: auto;
    box-shadow: 1px 1px 5px gray;
    border-radius: 10px;
}

.container {
    display: flex;
    transition: transform .5s ease-in-out;
    transform: translateX(0);
}

.container img {
    height: 500px;
    width: auto;
    margin: 10px;
}

#como-chegar h1 {
    text-align: center;
    font-size: 1.8em;
    font-weight: lighter;
    margin: 60px 0 0 0;
}

#como-chegar iframe {
    width: 90%;
    height: 400px;
    position: relative;
    margin: 20px auto;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
    border-radius: 15px;
    z-index: 0;
}

footer {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.459);
    margin: -20px -10px -20px -10px;
    width: 100vw;
    background-color: white;
}

.shadow {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.315);
}